@import 'shared/styles/variables.scss';

:local(.Profile) {
  position: absolute;
  top: $header-size;
  width: 100%;
  height: $content-size;

  font-family: $default-font;
  overflow: scroll;

  .profile-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    width: 100vw;
    padding: 0.4rem;
    min-height: 9rem;

    .edit {
      position: absolute;
      top: 1.4rem;
      right: 0.8rem;
      font-size: 1.6rem;
    }

    .settings {
      position: absolute;
      top: 1.4rem;
      left: 0.8rem;
      font-size: 1.6rem;
    }

    .name {
      margin: 0.4rem;
      font-size: 1.9rem;
      font-weight: 700;
    }

    .description {
      font-size: 1.6rem;
    }
  }

  .details-section {
    width: 100vw;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      width: 100%;
      font-weight: 500;
      font-size: 1.8rem;
      border-bottom: 3px $light-gray solid;
    }

    .bio-section {
      display: grid;
      grid-gap: 1rem;
      text-align: center;
      align-items: center;
      width: 90vw;
      margin: 1rem auto;

      p {
        margin: 1rem;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.4;
      }

      h3 {
        font-weight: 500;
        font-size: 1.6rem;
      }

      .account-holder-name {
        margin: 0rem;
      }
    }
  }
}
