@import 'shared/styles/variables.scss';

:local(.Picker) {

  h2 {
    margin: 1rem 4rem;
    font-size: 30px;
    font-weight: 700;
  }

  .fitb {
    width: 80%;
  }
  input,p {
    margin: .5rem;
  }
}
