@import 'shared/styles/variables.scss';

:local(.App) {
  header {
    position: relative;
    box-sizing: content-box;
    padding: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}
