@import 'shared/styles/variables.scss';

:local(.content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1px;
  min-height: 83vh;
  text-align: justify;

  padding: 80px;
  background-color: rgba(255, 238, 219, 1);
  font-family: $oram-header-font;
  overflow-y: scroll;
  z-index: 0;

  @include isMobile {
    font-size: 16px;
    // min-width: 95vw;
    // color: red;
    margin-top: 0;
    // text-align: left;
    padding: 20px 10px 100px;
    min-height: 100vh;
  }


  h1 {
    color: $andrea-red;
    text-align: center;
    font-weight: 700;
    text-shadow: none;
    font-size: 3em;
    max-width: 800px;
    margin: 1em .5em;
    @include isMobile {
      margin: 0;
      font-size: 1.5em;
    }
  }

  h2 {
    text-align: center;
    font-weight: 400;
    margin: 0.8em 0;
    text-shadow: none;
    font-size: 2.2em;
    color: $oram-header-text;
  }

  p {
    padding: 10px 0;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;

    color: darken($ocean-green, 45%);
    line-height: 1.6em;
    text-indent: 2em;
    max-width: 1000px;

    @include isMobile {
      text-indent: 8px;
      font-size: 1em;
    }

    a {
      color: $oram-header-text;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    // font-size: 1.8em;
    // font-family: Arial, Helvetica, sans-serif;
    text-indent: -2em;
  }

  .small-list {
    list-style-type: disc;
    li {
      text-indent: 2em;

    }
  }


  .tagline {
    margin-left: 60px;
  }

  table {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    text-indent: 0;
    th {
      text-align: center;
    }

    th, td {
      border: 1px solid black;
      padding: 4px 20px;
    }
  }

  .embed-video {
    margin-top: 2em;
    padding-bottom: 30px;
  }

  img {
    background-color: rgba(0,0,0,1);
    width: 400px;
    margin-top: .2em;
    border: 3px solid $french-raspberry;
    border-radius: 20px;
    @include isMobile {
      width: 40%;
    }

  }
  .right {
    margin-left: 40px;
  }

  .left {
    margin-right: 40px;
  }

  .sub-house {
    height: 500px;
    width: 400px;
    position: relative;
    border: none;
  }
  .house {
    position: relative;
    // right: 95px;
    color: red;
    background-color: rgba(255,255,255,0.5);
    // height: 200px;
    border: none;
  }
}
