@import 'shared/styles/variables.scss';

:local(.Home) {
  position: absolute;
  top: $header-size;
  width: 100%;
  height: $content-size;

  font-family: $default-font;
  overflow: scroll;
  z-index: -1;

  p {
    margin-top: 2rem;
    margin-left: 1rem;
    color: $red;
  }
}
