@import 'shared/styles/variables.scss';

:local(.Menu) {
  position: fixed;
  top: $header-size;
  z-index: 100;
  padding:  20px 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  background-color: $oram-menu-color;
  // opacity: 1;

  span > a {
    font-family: $oram-header-font;
    font-size: 22px;
    font-weight: 700;
    margin:  20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    // background-color: white;
    // border-bottom: 2px solid $dark-orange;

  }
  .active {
    color: red;
    opacity: 1;
  }
}
