@import 'shared/styles/variables.scss';

:local(.Menu) {

  // transition: visibility 1s linear;
  // border-radius: 0 0 5px 5px;
  z-index: 100;
  // width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100vw;
  background-color: $main-header-color;
  font-family: $header-font;
  font-size: 1.4rem;
  font-weight: 700;

  .selected {
    color: red;
  }

  span > a {
    font-size: 22px;
    margin:  20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    // background-color: white;
    // border-bottom: 2px solid $dark-orange;
  }
}
